---
import { getTranslationFunction } from '../../utils/localization.ts';

// Get the translation function
const { lang } = Astro.params;
const t = getTranslationFunction(lang);

interface MovieTitleAndYear {
    title: string;
    year: number;
}

const title = Astro.props.title;
const year = Astro.props.year;
---

<header class="mb-4 sm:mb-8">
    <div class="flex flex-col sm:flex-row sm:items-end">
        <h1 id="movie-title" class="text-4xl sm:text-5xl md:text-6xl font-bold leading-tight sm:leading-none break-words">
            {title}
        </h1>
        <div class="mt-2 sm:mt-0 sm:ml-2 flex items-center sm:items-end" aria-labelledby="movie-title" aria-describedby="movie-year">
            <time id="movie-year" datetime={year.toString()} class="text-2xl sm:text-3xl md:text-4xl text-gray-300 align-baseline">
                ({year})
            </time>
            <span class="text-xs sm:text-sm opacity-75 italic ml-2 whitespace-nowrap">
                {t("Sub | Dub")}
            </span>
        </div>
    </div>
</header>
