---
import { Icon } from 'astro-icon/components';
import { getTranslationFunction } from '../../utils/localization.ts';

// Get the translation function
const { lang } = Astro.params;
const t = getTranslationFunction(lang, false);

const MAX_STARS = 5;

// Define astro props type
export interface RenderStarsProps {
  rating: number;
}

const { rating } = Astro.props;

const halfStarDecimal = rating % 1;
const halfPosition = Math.floor(rating);

---

<div 
    role="img" 
    aria-label={t("%1 out of %2 stars").replace("%1", rating.toFixed(1)).replace("%2", `${MAX_STARS}`)}
    class="flex"
    aria-valuenow={rating.toFixed(1)}
    aria-valuemin="0"
    aria-valuemax={`${MAX_STARS}`}
    title={t("%1 out of %2 stars").replace("%1", rating.toFixed(1)).replace("%2", `${MAX_STARS}`)}
>
    {
        Array.from({ length: MAX_STARS }).map((_, index) => {
            const isFilled = index < Math.floor(rating);
            const isHalf = index === halfPosition && halfStarDecimal > 0;

            if (isHalf) {
                return (
                    <div
                        style={{
                            position: 'relative',
                            display: 'inline-block',
                            width: '1em',
                            height: '1em',
                            fontSize: '24px'
                        }}
                    >
                        <Icon 
                            name="fa-solid:star"
                            class="text-yellow-400"
                            style={{
                                stroke: 'black',
                                strokeWidth: '10px', 
                                fontSize: '24px',
                                clipPath: `inset(0 ${100 - halfStarDecimal * 100}% 0 0)`
                            }}
                        />
                        <Icon 
                            name="fa-solid:star"
                            class="text-gray-400"
                            style={{
                                stroke: 'black',
                                strokeWidth: '10px', 
                                fontSize: '24px',
                                position: 'absolute',
                                top: 0,
                                left: 0,
                                clipPath: `inset(0 0 0 ${halfStarDecimal * 100}%)`
                            }}
                        />
                    </div>
                );
            } else {
                return (
                    <Icon 
                        name="fa-solid:star"
                        fill={isFilled ? 'currentColor' : 'none'}
                        class={isFilled ? 'text-yellow-400' : 'text-gray-400'}
                        style={{
                            stroke: 'black',
                            strokeWidth: '10px', 
                            fontSize: '24px'
                        }}
                    />
                );
            }
        })
    }
</div>
