---
import { getTranslationFunction } from '../../utils/localization.ts';

// Get the translation function
const { lang } = Astro.params;
const t = getTranslationFunction(lang);

interface Synopsis {
  synopsis: string; 
}

let synopsis = Astro.props.synopsis;
// It can be deleted in the future
const lastLetter = synopsis && synopsis[synopsis.length - 1];
if (synopsis && !['.', '?', '!'].includes(lastLetter)) {
  synopsis = `${synopsis}.`;
}
---

<section aria-labelledby="synopsis-heading" class="mt-6 sm:mt-10">
  <h2 id="synopsis-heading" class="text-xl sm:text-2xl text-gray-300 mb-4 font-bold">{t("Synopsis")}</h2>
  <div class="bg-gray-800 p-4 rounded-lg shadow-md">
    <p class="text-base sm:text-lg leading-relaxed text-white" itemprop="description">
      {synopsis}
    </p>
  </div>
</section>