---
import { getTranslationFunction } from '../utils/localization.ts';

// Get the translation function
const { lang } = Astro.params;
const t = getTranslationFunction(lang);

interface Synopsis {
  synopsis: string; 
}

const synopsis = Astro.props.synopsis;
---

<section aria-labelledby="synopsis-heading" class="mt-10">
  <h2 id="synopsis-heading" class="text-2xl text-gray-300 mb-4 font-bold">{t("Synopsis")}</h2>
  <div class="bg-gray-800 p-6 rounded-lg shadow-lg">
    <p class="text-lg leading-relaxed text-white">
      {synopsis}
    </p>
  </div>
</section>


<!-- TODO: Might implement this in the future -->
<!-- <script>
  document.addEventListener('DOMContentLoaded', function() {
    const typewriter = document.querySelector('.typewriter');
    const fullText = typewriter.textContent;
    typewriter.textContent = '';
    let i = 0;

    function completeTyping() {
      typewriter.textContent = fullText;
      i = fullText.length;
      typewriter.style.borderRight = 'none'; // Remove cursor after completion
      clearInterval(interval);
    }

    const interval = setInterval(function typeWriter() {
      if (i < fullText.length) {
        typewriter.textContent += fullText.charAt(i);
        i++;
      } else {
        clearInterval(interval);
      }
    }, 50); // Adjust typing speed

    typewriter.addEventListener('click', completeTyping);
  });
</script>

<style>
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
  }

  .typewriter {
    border-right: 0.15em solid white; /* The cursor */
    animation: blink-caret 0.75s step-end infinite;
  }
</style> -->
